# ===============================
# Application Settings
# ===============================

APP_NAME="GitLab User Reports"
DEBUG=true
HOST=127.0.0.1
PORT=8000

# Allowed CORS origins (comma-separated list)
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

REQUIRE_ADMIN_TOKEN_FOR_GITLAB_CONFIG=false


# ===============================
# MongoDB Settings
# ===============================

MONGODB_HOST=mongodb
MONGODB_PORT=27017
MONGODB_DATABASE=gitlab_user_reports
MONGODB_ROOT_USERNAME=root
MONGODB_ROOT_PASSWORD=example


# ===============================
# URL Settings
# ===============================
BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000